body{
background: #F4DECB;  /* fallback for old browsers */

}

.nav-bar{
  height: 50px;
  background: linear-gradient(135deg,#d60044 20%, #ff4405);
 
  color:#F4DECB;
  font-weight: bold;
 
}

.links {
  margin-right: 20px;
  margin-left: 20px;
  display:flex;
  align-items: center;
  border:3px solid blue; 
}

.links p{
  margin-right: 20px;
  margin-left: 20px;
}

.ali-name{
  display: block;
  padding-bottom: 20px;

}

button{
  background-image: linear-gradient(135deg, #d60044 60%, #ff4405);
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  padding: 3px 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  color:#F4DECB;
  font-weight: bold;
  margin: 10px;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.footer{
  height: 50px;
  background: linear-gradient(90deg, #ff4405, #d60044, #d60044, #d60044, #ff4405);
  color:#F4DECB;
  font-weight: bold;
}

